@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #81AFDD 1.84%, #00659F 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #003D00 -13.86%, #51DA4C 99.55%);
  
  /*--color-bg: #040C18;*/
  --color-bg: #003D00;

  /*--color-footer : #031B34;*/
  --color-footer : #0e320e;

  /*--color-blog: #042c54;*/
  --color-blog: #51DA4C;

  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
} 
